
h2{ text-align:center;
	margin: 30px;
	}
#container{
	position:relative;
	width:31%;
	height:180px;
	background-color:gray;
	padding:10px;
	border:1px solid black;
	overflow:auto;
	box-sizing:border-box;
	float:left;
	margin:10px;
	}
#heading{
	position: absolute;
	top:0;right:0;
	text-align:center;
	background-color:brown;
	box-sizing:border-box;
	border:1px solid black;
	color:white;
	}
@media (min-width:992px)
{
.col-lg-4{
	float:left;
}
.col-lg-4{
	width:31%;
}
media(min-width:768px) and (max-width:991px)
{
	.col-md-6,.col-md-12{
		float:left;
	}
	.col-md-6{
		width:50%;
	}
	.col-md-12{
		width:100%;
	}
}
@media(max-width:767px)
{
	.col-sm-12{
		float:left;
	}
	.col-sm-12{
		width:100%;
	}
}